<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.project.aoyolo.cooperation_v1">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     
    <uses-feature android:name="android.hardware.Camera2" />
    <uses-feature android:name="android.hardware.Camera2.autofocus" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="cb727163f275ceba6a6548d29d8bb867" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--服务分类界面-->
        <activity android:name=".ui.my.FenleiActivity"></activity>
        <!--发布招聘界面-->
        <activity android:name=".ui.my.ZpfenleiActivity"></activity>
        <!--发布交易界面-->
        <activity android:name=".ui.my.JyfenleiActivity"></activity>
        <!--发布培训界面-->
        <activity android:name=".ui.my.PxfenleiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <!--发布家政界面-->
        <activity android:name=".ui.my.JzfenleiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <!--发布租房界面-->
        <activity android:name=".ui.my.ZffenleiActivity"></activity>
        <!--发布团购界面-->
        <activity android:name=".ui.my.TgfenleiActivity"></activity>
        <!-- 意见反馈 -->
        <activity android:name=".ui.my.yijianfankuiActivity"></activity>
        <!-- 推送设置 -->
        <activity android:name=".ui.my.TuisongSetttingActivity"></activity>
        <activity
            android:name=".ui.my.login.MyInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 我的信息选择照片 -->
        <activity
            android:name=".ui.my.login.ChoosePhoto"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 注册 -->
        <activity
            android:name=".ui.my.login.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <!-- 找需求模块 -->
        <activity
            android:name=".ui.xuqiu.ActivityDemandSalas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.xuqiu.ActivityDemandTrain"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.xuqiu.ActivityDemandHousekeeping"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.xuqiu.ActivityDemandGroupbuying"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.xuqiu.ActivityDemandRental"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.xuqiu.ActivityDemandRecruit"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.fuwu.ChooseCityActivity"
            ></activity>
            android:screenOrientation="portrait" />
        <!-- 登陆界面 -->
        <activity
            android:name=".ui.my.login.Login2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".ui.my.login.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
